extends base

block content
    main.main.flex
        .sidebar
            form#tour-filter-form.form(method="GET", action="/")
                .form__group
                    input.form__input(type="text", name="name", placeholder="Tour name", value=(typeof query !== 'undefined' && query.name ? query.name : ''))
                .form__group
                    input.form__input(type="number", name="price[lte]", placeholder="Max price", min="0", value=(typeof query !== 'undefined' && query['price[lte]'] ? query['price[lte]'] : ''))
                .form__group
                    select.form__input(name="difficulty")
                        option(value="") Difficulty (any)
                        option(value="easy" selected=(typeof query !== 'undefined' && query.difficulty === 'easy')) Easy
                        option(value="medium" selected=(typeof query !== 'undefined' && query.difficulty === 'medium')) Medium
                        option(value="difficult" selected=(typeof query !== 'undefined' && query.difficulty === 'difficult')) Hard
                .form__group
                    button.btn.btn--green(type="submit") Find
        .main-content
            if message
                .booked-tours__form-container
                    .message-box
                        h2.heading-tour.ma-bt10-md= message
                        |
                        a.btn.btn--green(href="/") Explore Tours
            else
                .card-container
                    if tours.length === 0
                        .not-found No tours found.
                    else
                        each tour in tours
                            .card
                                .card__header
                                    .card__picture
                                        .card__picture-overlay
                                        img.card__picture-img(src=`/img/tours/${tour.imageCover}`, alt=`${tour.name}`)
                                    h3.heading-tertirary
                                        span= tour.name
                                .card__details
                                    h4.card__sub-heading=`${tour.difficulty} ${tour.duration}-day tour` 
                                    p.card__text= tour.summary
                                    .card__data
                                        svg.card__icon
                                        use(xlink:href='/img/icons.svg#icon-map-pin')
                                        span= tour.startLocation.description
                                    .card__data
                                        svg.card__icon
                                        use(xlink:href='/img/icons.svg#icon-calendar')
                                        span= tour.startDates[0].toLocaleString('en-us', {month:'long', year:'numeric'})
                                    .card__data
                                        svg.card__icon
                                        use(xlink:href='/img/icons.svg#icon-flag')
                                        span= `${tour.locations.length} stops`
                                    .card__data
                                        svg.card__icon
                                        use(xlink:href='/img/icons.svg#icon-user')
                                        span= `${tour.maxGroupSize} people`
                                .card__footer
                                    p
                                        span.card__footer-value=`$${tour.price} `
                                        span.card__footer-text per person
                                    p.card__ratings
                                        span.card__footer-value=`${tour.ratingsAverage}`
                                        span.card__footer-text=` rating (${tour.ratingsQuantity})`
                                    a.btn.btn--green.btn--small(href=`/tour/${tour.slug}`) Details
